<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log in form</title>
    <link href="/static/css/login.css" rel="stylesheet">
</head>

<body>
{% block content %}
<div class="form">
    <form method="post" action="login">
        <h1>AquaCore</h1>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class=flashes >
            {% for message in messages %}
            <h3>{{ message | safe }}</h3>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

        <input type="text" placeholder="Username" name="user" autofocus><br>
        <h3>&nbsp;</h3>
        <input type="password" placeholder="Password" name="password"><br>
        <h2>&nbsp;</h2>
        <input type="submit" value="Login" name="submit"><br>
        <h2>&nbsp;</h2>
        <h2>system version "{{version}}" &nbsp;</h2>
    </form>
</div>
{% endblock %}
</body>
</html>